* {box-sizing: border-box; padding: 0; margin: 0;}
::selection{background-color: #46bc99; color: #FFF;}
body {color: #333333; font: 14px Helvetica Neue,Helvetica,PingFang SC,Microsoft YaHei,Tahoma,Arial,sans-serif; line-height: 1.6;}
a {color: inherit; text-decoration: none; transition: color .2s;}
a:hover {color: #3fa98a;}
a:hover, a:active, a:focus {text-decoration: none;}
ul>li {list-style: none;}
.container {
    padding-right: 15px;
    padding-left: 15px;
}
.hr {
    margin-left: -15px;
    margin-right: -15px;
    border-width: 0;
    height: 10px;
    background-color: #f5f5f5;
}

/* header */
#header {
    position: relative;
    text-align: center;
    background-color: #46bc99;
    color: #fff;
    margin-bottom: 20px;
    transition: height 1s;
}
#header a:hover{
    color: inherit;
}
.navbar {
    position: relative;
}
.navbar-header {
    font-size: 20px;
    line-height: 50px;
    display: flex;
    justify-content: space-between;
}
.navbar-header .navbar-menu {
    cursor: pointer;
}
.navbar-item {
    height: 0;
    transition: height .2s;
    overflow: hidden;
    line-height: 40px;
    margin-left: -15px;
    margin-right: -15px;
}
.navbar-item li {
    list-style: none;
    border-top: 1px solid rgba(255,255,255,0.15);
}
.navbar-item li a {
    display: block;
}
.jumbotron {
    padding-bottom: 20px;
}
.jumbotron a {
    border-bottom: dotted 1px #a9dfbf;
}
.jumbotron a:hover {
    color: #fff;
    border-bottom: solid 1px #fff;
}

/* footer */
#footer {
    margin-top: 20px;
    background-color: #46bc99;
    border-top: 1px solid #3fa98a;
    color: #fff;
}
#footer a {
    border-bottom: dotted 1px #a9dfbf;
}
#footer a:hover {
    color: #fff;
    border-bottom: solid 1px #fff;
}
#footer .container {
    margin-top: 25px;
    margin-bottom: 15px;
    line-height: 1.8;
}
#footer .container .friends>*+*,
#footer .container .flinks>*+* {
    margin-left: 10px;
}
#footer .copy-right {
    padding: 7px 0;
    line-height: 2;
    text-align: center;
    background-color: rgba(51,51,51,.08);
}
#footer .copy-right>*+* {
    margin-left: 10px;
}

/* go-top */
#go-top {
    position: fixed;
    cursor: pointer;
    right: 10px;
    bottom: 10px;
    width: 40px;
    height: 40px;
    background: rgba(70, 188, 153, .6);
    font: 16px verdana;
    line-height: 40px;
    padding-top: 3px;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    z-index: 1;
    display: none;
}
#go-top:hover {
    background: #46bc99;
}
#go-top::after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-left: 2px solid #fff;
    border-top: 2px solid #fff;
    transform: rotate(45deg);
}
#go-top.go-top {
    background: rgba(255, 255, 255, .6);
}
#go-top.go-top:hover {
    background: #fff;
}
#go-top.go-top::after {
    border-color: #46bc99;
}

/* box */
.box {
    line-height: 32px;
    padding: 10px 0;
}
.box dt {
    display: flex;
    justify-content: space-between;
}
.box dt .title {
    font-size: 16px;
    font-weight: bold;
    padding-left: 10px;
    border-left: 4px solid #46bc99;
}
.box dt .extra {
    color: #666;
    padding-right: 10px;
}
.box dd {
    padding-top: 10px;
}

/* list */
.list-item {
    padding: 10px 0;
}
.list-item:not(:last-child) {
    border-bottom: 1px solid #eee;
}
.list-item dt {
    padding: 3px 0;
}
.list-item dt .title {
    font-size: 16px;
    font-weight: bold;
}
.list-item dd {
    font-size: 13px;
    color: #888;
    padding: 5px 0;
}
.list-item ul {
    font-size: 13px;
    line-height: 13px;
    padding: 4px 0;
    color: #888;
    display: flex;
}
.list-item ul li:not(:first-child){
    margin-left: 7px;
    padding-left: 7px;
    border-left: 1px solid #EEE;
}

/* content markdown */
.content {
    overflow: hidden;
}
.content>* {
    margin: 1em 0;
}
.content>blockquote+blockquote,
.content>blockquote+pre,
.content>pre+pre,
.content>pre+blockquote {
    margin-top: 1.3em;
}
.content h1, .content h2 {
    padding-bottom: .3em;
    border-bottom: 1px solid #eee;
}
.content blockquote {
    padding: .8em 1em;
    border-left: 4px solid #ccc;
    background-color: #f3f3f3;
}
.content hr {
    border: 1px solid #eee;
}
.content code {
    color: #f63;
    word-break: break-word;
}
.content a {
    color: #46bc99;
}
.content pre {
    padding: .8em 1em;
    max-height: 35em;
    line-height: 1.4;
    background-color: #f3f3f3;
    overflow: auto;
}
.content pre code {
    padding: 0;
    color: inherit;
    overflow-wrap: normal;
    word-break: normal;
    background: inherit;
    overflow-x: initial;
}
.content table {
    width: 100%;
    border-collapse:collapse;
}
.content table th, .content table td {
    border: 1px solid #eee;
    padding: 0.5em;
}
.content table th {
    background-color: #f9f9f9;
    font-weight: bold;
}
.content li {
    margin: 0.6em 0 0.6em 20px;
    list-style: inherit;
}
.content p {
    line-height: 1.8;
}
.content img {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

/* tools-bar */
.tools-bar {
    line-height: 28px;
    padding: 10px 0;
}

/* prevnext */
.prevnext {
    line-height: 28px;
    padding: 10px 0;
}

/* pagination */
.page {
    display: flex;
    padding: 15px 0;
}
.page li {
    margin-right: 6px;
}
.page li a {
    display: block;
    border: 1px solid #ccc;
    transition: border-color .2s;
    min-width: 36px;
    height: 36px;
    line-height: 34px;
    overflow: hidden;
    text-align: center;
    padding: 0 10px;
}
.page li:hover a {
    border: 1px solid #46bc99;
    color: #46bc99;
}
.page li.active a {
    border: 1px solid #46bc99;
    background-color: #46bc99;
    color: #fff;
}
.pagination .info {
    display: none;
}
.page li.prev, .page li.next {
    display: none;
}

/* comment */
.comment {
    padding: 10px 0;
}
.comment .comment_title {
    font-size: 16px;
    font-weight: bold;
    padding-left: 10px;
    border-left: 4px solid #46bc99;
}
.comment .comment_input {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}
.comment .comment_input input {
    flex: 1;
    width: 100%;
    line-height: 1.6;
    border: none;
    outline: none;
    border-bottom: 1px dashed #ccc;
    padding: 8px 0.5em;
    transition: border-color .2s;
}
.comment .comment_input input:hover,
.comment .comment_input input:focus {
    border-bottom: 1px dashed #46bc99;
}
.comment .comment_area {
    padding-top: 10px;
    display: flex;
}
.comment .comment_area textarea {
    width: 100%;
    height: 100px;
    line-height: 1.6;
    padding: 5px 0.5em;
    border: 1px solid #dedede;
    outline: none;
    border-radius: 3px;
    transition: border-color .2s;
}
.comment .comment_area textarea:hover,
.comment .comment_area textarea:focus {
    border: 1px solid #46bc99;
}
.comment_button {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}
.comment_button span {
    padding: 0 1em;
    height: 34px;
    line-height: 34px;
    background-color: #46bc99;
    color: #fff;
    border-radius: 2px;
    cursor: pointer;
}
.comment_button span.comment_cancel {
    background-color: #f63;
    display: none;
}
.comment_button span:hover {
    opacity: .8;
}
/* comment_list */
.comment_list {
    margin-top: 5px;
}
.comment_item {
    display: flex;
    padding-top: 10px;
}
.comment_item .comment_face {
    width: 60px;
    height: 60px;
    margin-right: 5px;
    position: relative;
    cursor: pointer;
}
.comment_item .comment_face svg {
    width: 100%;
    height: 100%;
}
.comment_item .comment_face span {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.1);
    color: #fff;
    text-align: center;
    padding-top: 50%;
    line-height: 0;
    font-size: 18px;
}
.comment_item .comment_face:hover span {
    display: block;
}
.comment_item .comment_body {
    flex: 1;
    min-height: 65px;
    padding-bottom: 5px;
    border-bottom: 1px dashed #ccc;
}
.comment_item .comment_body .comment_user {
    margin: 3px 0;
}
.comment_item .comment_body .comment_user a {
    color: #46bc99;
}
.comment_item .comment_body .comment_user span {
    font-size: 12px;
    color: #666;
}
.comment_item .comment_body .comment_item .comment_body {
    min-height: 55px;
    padding-bottom: 3px;
}
.comment_item .comment_body .comment_item .comment_face {
    width: 50px;
    height: 50px;
}
.comment_item .comment_body .comment_item:last-child .comment_body {
    border-bottom: none;
}
.comment_item .comment_body .comment_item .comment_user {
    margin: 0;
}
.comment_load {
    margin-top: 10px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    background-color: #eee;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color .2s;
}
.comment_load:hover {
    background-color: #46bc99;
    color: #fff;
}


@media screen and (min-width: 601px) {
    .hr {
        display: none;
    }
    .row {
        display: flex;
    }
    .row .main {
        flex: 1;
        overflow: hidden;
    }
    .row .aside {
        width: 250px;
        margin-left: 20px;
        overflow: hidden;
    }
    #header {
        padding-top: 20px;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
    }
    .navbar-header .navbar-menu {
        display: none;
    }
    .navbar-item {
        height: auto;
        display: flex;
        line-height: 50px;
        margin-left: 0;
        margin-right: 0;
        overflow: initial;
    }
    .navbar-item li {
        margin-left: 14px;
        border-top: none;
        position: relative;
    }
    .navbar-item li:hover::before {
        content: '';
        position: absolute;
        display: block;
        background-color: rgba(255, 255, 255, .8); 
        border-radius: 2px;
        left: -7px;
        right: -7px;
        top: 8px;
        bottom: 8px;
    }
    .navbar-item li:hover a {
        color: #3fa98a !important;
        position: relative;
        z-index: 1;
    }
    .box {
        line-height: 28px;
    }
    .comment .comment_input {
        flex-direction: row;
    }
}

@media screen and (min-width: 961px) {
    .container {
        width: 960px;
        margin-right: auto;
        margin-left: auto;
    }
    .row .aside {
        width: 280px;
        margin-left: 30px;
    }
    .page li.prev, .page li.next {
        display: block;
    }
    .pagination .info {
        display: inline;
    }
}