* {box-sizing: border-box; padding: 0; margin: 0;}
::selection{background-color: #46bc99; color: #FFF;}
body {color: #333333; font: 14px Helvetica Neue,Helvetica,PingFang SC,Microsoft YaHei,Tahoma,Arial,sans-serif; line-height: 1.6;}
a {color: inherit; text-decoration: none; transition: all .2s;}
a:hover {color: #3fa98a;}
a:hover, a:active, a:focus {text-decoration: none;}
a.image {font-size: 0;}
ul>li {list-style: none;}
.container {
    padding-right: 15px;
    padding-left: 15px;
}
.m-hr {
    margin-left: -15px;
    margin-right: -15px;
    border-width: 0;
    height: 10px;
    background-color: #f5f5f5;
}
.input {
    width: 100%;
    height: 34px;
    padding: 5px 0.5em;
    border: 1px solid #dedede;
    outline: none;
    border-radius: 0px;
    transition: border-color .2s;
}
.input:hover,.input:focus {
    border-color: #46bc99;
}
.button {
    padding: 0 1em;
    height: 34px;
    line-height: 34px;
    background-color: #46bc99;
    color: #fff;
    border-radius: 2px;
    cursor: pointer;
}
.danger {
    background-color: #f63;
}
.button:hover {
    opacity: .8;
}
.s-input {
    border-right-width: 0;
}
.s-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* header */
#header {
    position: relative;
    text-align: center;
    background-color: #46bc99;
    color: #fff;
    margin-bottom: 20px;
    transition: height 1s;
}
#header a:hover{
    color: inherit;
}
.navbar {
    position: relative;
}
.navbar-header {
    font-size: 20px;
    line-height: 50px;
    display: flex;
    justify-content: space-between;
}
.navbar-header .navbar-menu {
    cursor: pointer;
}
.navbar-item {
    height: 0;
    transition: height .2s;
    overflow: hidden;
    line-height: 40px;
    margin-left: -15px;
    margin-right: -15px;
}
.navbar-item li {
    list-style: none;
    border-top: 1px solid rgba(255,255,255,0.15);
}
.navbar-item li a {
    display: block;
}
.jumbotron {
    padding-bottom: 20px;
}
.jumbotron a {
    border-bottom: dotted 1px #a9dfbf;
}
.jumbotron a:hover {
    color: #fff;
    border-bottom: solid 1px #fff;
}

/* footer */
#footer {
    margin-top: 20px;
    background-color: #46bc99;
    border-top: 1px solid #3fa98a;
    color: #fff;
}
#footer a {
    border-bottom: dotted 1px #a9dfbf;
}
#footer a:hover {
    color: #fff;
    border-bottom: solid 1px #fff;
}
#footer .container {
    margin-top: 25px;
    margin-bottom: 15px;
    line-height: 1.8;
}
#footer .container .friends>*+*,
#footer .container .flinks>*+* {
    margin-left: 10px;
}
#footer .copy-right {
    padding: 7px 0;
    line-height: 2;
    text-align: center;
    background-color: rgba(51,51,51,.08);
}
#footer .copy-right>*+* {
    margin-left: 10px;
}

/* go-top */
#go-top {
    position: fixed;
    cursor: pointer;
    right: 10px;
    bottom: 10px;
    width: 40px;
    height: 40px;
    background: rgba(70, 188, 153, .6);
    font: 16px verdana;
    line-height: 40px;
    padding-top: 3px;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    z-index: 1;
    display: none;
}
#go-top:hover {
    background: #46bc99;
}
#go-top::after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-left: 2px solid #fff;
    border-top: 2px solid #fff;
    transform: rotate(45deg);
}
#go-top.go-top {
    background: rgba(255, 255, 255, .6);
}
#go-top.go-top:hover {
    background: #fff;
}
#go-top.go-top::after {
    border-color: #46bc99;
}

/* box */
.box {
    line-height: 32px;
    padding: 10px 0;
}
.box dt {
    display: flex;
    justify-content: space-between;
}
.box dt .title {
    flex: 1;
    font-size: 16px;
    font-weight: bold;
    padding-left: 10px;
    border-left: 4px solid #46bc99;
}
.box dt .extra {
    color: #666;
    padding: 0 10px;
}
.box dd {
    padding-top: 10px;
}
.box dd a {
    display: block;
    height: 32px;
    overflow: hidden;
}
.box dd a:hover {
    text-decoration: underline;
}
.box dd a.image {
    height: auto;
    line-height: 0;
    width: 160px;
    max-width: 98%;
    margin-bottom: 6px;
    position: relative;
}
.box dd a.image img {
    width: 100%;
    min-height: 32px;
}
.box dd a.image span {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 24px;
    line-height: 24px;
    background-color: rgba(0,0,0,0.3);
    color: #fff;
    font-size: 12px;
    padding: 0 5px;
    overflow: hidden;
}

/* list */
.list-item {
    padding: 10px 0;
}
.list-item:not(:last-child) {
    border-bottom: 1px solid #eee;
}
.list-item dt {
    padding: 3px 0;
}
.list-item dt .title {
    font-size: 16px;
    font-weight: bold;
}
.list-item dd {
    font-size: 13px;
    color: #888;
    padding: 5px 0;
    overflow: hidden;
}
.list-item ul {
    font-size: 13px;
    height: 21px;
    line-height: 21px;
    color: #888;
    display: flex;
    overflow: hidden;
}
.list-item ul li:not(:first-child) {
    margin-left: 7px;
    padding-left: 7px;
    border-left: 1px solid #EEE;
}
.list-item ul li:not(:last-child) {
    white-space: nowrap;
}
.list-item .image {
    width: 120px;
    display: block;
    float: right;
    margin-left: 5px;
}
.list-item .image img {
    width: 100%;
}

/* content markdown */
.content {
    overflow: hidden;
}
.content>* {
    margin: 1em 0;
}
.content>*:first-child {
    margin-top: 10px;
}
.content>blockquote+blockquote,
.content>blockquote+pre,
.content>pre+pre,
.content>pre+blockquote {
    margin-top: 1.3em;
}
.content h1, .content h2 {
    padding-bottom: .3em;
    border-bottom: 1px solid #eee;
}
.content blockquote {
    padding: .8em 1em;
    border-left: 4px solid #ccc;
    background-color: #f3f3f3;
}
.content hr {
    border: 1px solid #eee;
}
.content code {
    color: #f63;
    word-break: break-word;
}
.content a {
    color: #46bc99;
}
.content pre {
    padding: .8em 1em;
    max-height: 35em;
    line-height: 1.4;
    background-color: #f3f3f3;
    overflow: auto;
}
.content pre code {
    padding: 0;
    color: inherit;
    overflow-wrap: normal;
    word-break: normal;
    background: inherit;
    overflow-x: initial;
}
.content table {
    width: 100%;
    border-collapse:collapse;
}
.content table th, .content table td {
    border: 1px solid #eee;
    padding: 0.5em;
}
.content table th {
    background-color: #f9f9f9;
    font-weight: bold;
}
.content li {
    margin: 0.6em 0 0.6em 20px;
    list-style: inherit;
}
.content p {
    line-height: 1.8;
}
.content img {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    cursor: pointer;
}

/* tools-bar */
.tools-bar {
    line-height: 28px;
    padding: 10px 0;
}

/* prevnext */
.prevnext {
    line-height: 28px;
    padding: 10px 0;
    font-weight: bold;
}
.prevnext li {
    display: flex;
}
.prevnext li a {
    flex: 1;
    margin-left: 3px;
}
.prevnext li a:hover {
    text-decoration: underline;
}

/* pagination */
.page {
    display: flex;
    padding: 15px 0;
}
.page li {
    margin-right: 6px;
}
.page li a {
    display: block;
    border: 1px solid #ccc;
    transition: border-color .2s;
    min-width: 36px;
    height: 36px;
    line-height: 34px;
    overflow: hidden;
    text-align: center;
    padding: 0 10px;
}
.page li:hover a {
    border: 1px solid #46bc99;
    color: #46bc99;
}
.page li.active a {
    border: 1px solid #46bc99;
    background-color: #46bc99;
    color: #fff;
}
.pagination .info {
    display: none;
}
.page li.prev, .page li.next {
    display: none;
}

/* comment */
.comment {
    padding: 10px 0;
}
.comment .title {
    font-size: 16px;
    font-weight: bold;
    padding-left: 10px;
    border-left: 4px solid #46bc99;
}
.comment .comment-input {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}
.comment .comment-input .input {
    flex: 1;
    width: 100%;
    line-height: 1.6;
    border: none;
    border-bottom: 1px dashed #ccc;
    padding: 8px 0.5em;
}
.comment .comment-input .input:hover,
.comment .comment-input .input:focus {
    border-bottom: 1px dashed #46bc99;
}
.comment .comment-area {
    padding-top: 10px;
    display: flex;
}
.comment .comment-area .c-area {
    height: 100px;
    line-height: 1.6;
    border-radius: 3px;
}
.comment-button {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}
.comment-button .cancel {
    display: none;
}
/* comment-list */
.comment-list {
    margin-top: 5px;
}
.comment-item {
    display: flex;
    padding-top: 10px;
}
.comment-item .face {
    width: 60px;
    height: 60px;
    margin-right: 5px;
    position: relative;
    cursor: pointer;
}
.comment-item .face svg {
    width: 100%;
    height: 100%;
}
.comment-item .face span {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.1);
    color: #fff;
    text-align: center;
    padding-top: 50%;
    line-height: 0;
    font-size: 18px;
}
.comment-item .face:hover span {
    display: block;
}
.comment-item .comment-body {
    flex: 1;
    min-height: 65px;
    padding-bottom: 5px;
    border-bottom: 1px dashed #ccc;
}
.comment-body .comment-user {
    margin: 3px 0;
}
.comment-body .comment-user a {
    color: #46bc99;
}
.comment-body .comment-user span {
    font-size: 12px;
    color: #666;
}
.comment-body .comment-item .comment-body {
    min-height: 55px;
    padding-bottom: 3px;
}
.comment-body .comment-item .face {
    width: 50px;
    height: 50px;
}
.comment-body .comment-item:last-child .comment-body {
    border-bottom: none;
}
.comment-body .comment-item .comment-user {
    margin: 0;
}
.comment-more {
    margin-top: 10px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    background-color: #eee;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color .2s;
}
.comment-more:hover {
    background-color: #46bc99;
    color: #fff;
}


@media screen and (min-width: 601px) {
    .m-hr {
        display: none;
    }
    .row {
        display: flex;
    }
    .row .main {
        flex: 1;
        overflow: hidden;
    }
    .row .aside {
        width: 250px;
        margin-left: 20px;
        overflow: hidden;
    }
    #header {
        padding-top: 20px;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
    }
    .navbar-header .navbar-menu {
        display: none;
    }
    .navbar-item {
        height: auto;
        display: flex;
        line-height: 50px;
        margin-left: 0;
        margin-right: 0;
        overflow: initial;
    }
    .navbar-item li {
        margin-left: 14px;
        border-top: none;
        position: relative;
    }
    .navbar-item li:hover::before {
        content: '';
        position: absolute;
        display: block;
        background-color: rgba(255, 255, 255, .8); 
        border-radius: 2px;
        left: -7px;
        right: -7px;
        top: 8px;
        bottom: 8px;
    }
    .navbar-item li:hover a {
        color: #3fa98a !important;
        position: relative;
        z-index: 1;
    }
    .comment .comment-input {
        flex-direction: row;
    }
    .related dd ul {
        overflow: hidden;
    }
    .related dd ul li {
        width: 50%;
        float: left;
    }
}

@media screen and (min-width: 961px) {
    .container {
        width: 960px;
        margin-right: auto;
        margin-left: auto;
    }
    .row .aside {
        width: 280px;
        margin-left: 30px;
    }
    .list-item.thumb {
        position: relative;
        padding-right: 130px;
    }
    .list-item .image {
        position: absolute;
        top: 6px;
        right: 6px;
    }
    .page li.prev, .page li.next {
        display: block;
    }
    .pagination .info {
        display: inline;
    }
}