{{extend './layout.htm'}}

{{block 'header'}}
        <div class="container jumbotron">
            <h1>{{article.title}}</h1>
            <p>{{article.description}}</p>
        </div>
{{/block}}

{{block 'content'}}
<div class="container row">
    <main class="main">
        <article class="content">
            {{@article.content}}
        </article>
        <ul class="prenext">
        <li>上一篇: <a href="https://www.phpjieshuo.com/archives/146/">位运算在 PHP 实际项目当中的高级运用</a></li>
        <li>下一篇: <a href="https://www.phpjieshuo.com/archives/148/">让 HTTPDNS 解决客户端 DNS 劫持与提高解析稳定性</a></li>
    </ul>
    </main>
    {{include './aside.htm'}}
</div>
{{/block}}