{{extend './layout.htm'}}

{{block 'header'}}
        <div class="container jumbotron">
            <h1>{{article.title}}</h1>
            <p>{{article.description}}</p>
            <p class="tools-bar">分类: <a href="{{cate.folder | urlC}}">{{cate.cate_name}}</a> 时间: {{article.add_time | dateFormat 'YYYY-mm-dd hh:ii'}} 浏览: {{article.click}}</p>
        </div>
{{/block}}

{{block 'content'}}
<div class="container row">
    <main class="main">
        <div>分类: <a href="{{cate.folder | urlC}}">{{cate.cate_name}}</a> 时间: {{article.add_time | dateFormat 'YYYY-mm-dd hh:ii'}} 浏览: {{article.click}}</div>
        <article class="content">
            {{@article.content}}
        </article>
        <hr class="hr">
        <ul class="prevnext">
            {{if prevOne}}<li>上一篇: <a href="{{prevOne.id | urlA}}">{{prevOne.title}}</a></li>{{/if}}
            {{if nextOne}}<li>下一篇: <a href="{{nextOne.id | urlA}}">{{nextOne.title}}</a></li>{{/if}}
        </ul>
    </main>
    {{include './aside.htm'}}
</div>
{{/block}}