    <aside class="aside">
        <hr class="m-hr">
        <form class="box s-form" action="/search/">
            <dt><div class="title"><input class="input s-input" type="text" name="keyword" value="{{keyword}}" /></div><span class="button s-button">搜索</span></dt>
        </form>
        <hr class="m-hr">
        <dl class="box">
            <dt><h3 class="title">最新博文</h3></dt>
            <dd>
                <ul>{{each latest item}}
                    <li><a href="{{url(':article', {id: item.id})}}">{{item.title}}</a></li>{{/each}}
                </ul>
            </dd>
        </dl>
        <hr class="m-hr">
        <dl class="box">
            <dt><h3 class="title">热点博文</h3></dt>
            <dd>
                <ul>{{each hot item}}
                    <li><a href="{{url(':article', {id: item.id})}}">{{item.title}}</a></li>{{/each}}
                </ul>
            </dd>
        </dl>
    </aside>