{{extend './layout.htm'}}

{{block 'header'}}
        <div class="container jumbotron">
            <h1>{{cate.cate_name}}</h1>
            <p>{{cate.cate_description}}</p>
        </div>
{{/block}}

{{block 'content'}}
<div class="container row">
    <main class="main">
        <div class="list">
            {{each list item}}
            <dl class="list-item">
                <dt><h3 class="title"><a href="/a/{{item.id}}">{{item.title}}</a></h3></dt>
                <dd>
                    {{item.description}}
                </dd>
                <ul>
                    <li>时间: {{item.add_time | dateFormat 'YYYY-mm-dd'}}</li>
                    <li>浏览: {{item.click}}</li>
                    <li>关键词: {{item.keywords}}</li>
                </ul>
            </dl>{{/each}}
        </div>
    </main>
    {{include './aside.htm'}}
</div>
{{/block}}