{{extend './layout.htm'}}

{{block 'header'}}
        <div class="container jumbotron">
            <h1>{{cate.name}}</h1>
            <p>{{cate.description}}</p>
        </div>
{{/block}}

{{block 'content'}}
<div class="container row">
    <main class="main">
        <div class="list">
            {{each list item}}
            <dl class="list-item">
                <dt><h3 class="title"><a href="/a/{{item.id}}">{{item.title}}</a></h3><span class="extra">详情</span></dt>
                <dd>
                    {{item.description}}
                </dd>
            </dl>{{/each}}
        </div>
    </main>
    <aside class="aside">
        <hr class="hr">
        <dl class="box">
            <dt><h3 class="title">最新博文</h3><span class="extra">更多</span></dt>
            <dd>
                <ul>
                    {{each latest item}}
                    <li><a href="/a/{{item.id}}">{{item.title}}</a></li>{{/each}}
                </ul>
            </dd>
        </dl>
        <hr class="hr">
        <dl class="box">
            <dt><h3 class="title">热点博文</h3><span class="extra">更多</span></dt>
            <dd>
                <ul>
                    {{each hot item}}
                    <li><a href="/a/{{item.id}}">{{item.title}}</a></li>{{/each}}
                </ul>
            </dd>
        </dl>
    </aside>
</div>
{{/block}}