{{extend './layout.htm'}}
{{block 'title'}}
<title>{{title}}</title>
{{/block}}
{{block 'content'}}
<div class="c">
    <h1>iijs文档(待完善)</h1>
    <hr>
    <h4>本演示站首页由解析README.md文档后，配合模板生成，控制器代码：</h4>
    <pre><code>
    async index() {
        let readme = await this.view.load(&#x27;README.md&#x27;);
        readme = this.view.md.toHTML(readme);
        readme = readme.replace(&#x27;&lt;/p&gt;&#x27;, &#x27;&lt;/p&gt;&lt;hr&gt;&#x27;);
        readme = readme.replace(/&lt;p&gt;&lt;code&gt;/g, &#x27;&lt;pre&gt;&lt;code&gt;&#x27;);
        readme = readme.replace(/&lt;\/code&gt;&lt;\/p&gt;/g, &#x27;&lt;/code&gt;&lt;/pre&gt;&#x27;);
        this.assign(&#x27;title&#x27;, &#x27;iijs - 一个简单轻量级Node.js MVC框架&#x27;);
        this.assign(&#x27;readme&#x27;, readme);
        await this.fetch();
    }
    </code></pre>
    <h4>本文档页由解析模板生成，控制器代码：</h4>
    <pre><code>
    async doc() {
        this.assign(&#x27;title&#x27;, &#x27;iijs文档手册 - iijs&#x27;);
        await this.fetch();
    }
    </code></pre>
    <h4>hello页为内容直接输出，控制器代码：</h4>
    <pre><code>
    async hello() {
        this.display(&#x60;&lt;div style=&quot;font-size:50px;&quot;&gt;hello iijs, hello world !&lt;/div&gt;&#x60;);
    }
    </code></pre>
</div>
{{/block}}