<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {{block 'title'}}<title>{{title}} - iime</title>{{/block}}
    <link rel="stylesheet" href="/static/iime.css">
    {{block 'css'}}{{/block}}
</head>
<body>
    <header id="header">
        <nav class="container navbar">
            <div class="navbar-header">
                <a class="logo" href="/">iime</a>
                <div class="navbar-menu">☰</div>
            </div>
            <ul class="navbar-item">
                {{each nav item}}
                <li><a href="/{{item.cate_folder}}">{{item.cate_name}}</a></li>{{/each}}
            </ul>
        </nav>
        {{block 'header'}}{{/block}}
    </header>
    {{block 'content'}}{{/block}}
    <footer id="footer">
        <div class="container">
            <a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备11008151号</a>
            <span>京公网安备11010802014853</span>
        </div>
        <div class="copy-right">
            <span>© 2020 iime</span><span>Powered by <a href="https://me.i-i.me/" target="_blank">iime</a></span>
        </div>
    </footer>
    <div id="go-top"></div>
    <script src="https://apps.bdimg.com/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/static/iime.js"></script>
    {{block 'js'}}{{/block}}
</body>
</html>