<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{{title}}</title>
    <meta name="description" content="{{description}}"/>
    <meta name="keywords" content="{{keywords}}"/>
    <link rel="stylesheet" href="/static/melog.css">
    <link rel="stylesheet" href="/static/common/ztree/zTreeStyle.css">
    {{block 'css'}}{{/block}}
</head>
<body>
    <header id="header">
        <nav class="container navbar">
            <div class="navbar-header">
                <a class="logo" href="/">{{site.webname}}</a>
                <div class="navbar-menu">☰</div>
            </div>
            <ul class="navbar-item">{{each nav_list item}}
                <li><a href="{{item.nav_url}}">{{item.nav_name}}</a></li>{{/each}}
            </ul>
        </nav>
        {{block 'header'}}{{/block}}
    </header>

    {{if special_list && special_list.length}}
    <div class="container subnav">
        <ul>{{each special_list item}}
            <li><a href="{{url(':special', {id: item.special_dir || item.id})}}">{{item.short_title || item.title}}</a></li>{{/each}}
        </ul>
    </div>
    {{/if}}

    {{block 'content'}}{{/block}}

    <footer id="footer">
        <div class="container">
            {{if foot_links}}<p class="foot-links">{{each foot_links item}}<a href="{{item.url}}" target="_blank">{{item.title}}</a>{{/each}}</p>{{/if}}
            {{if site.beian}}<p class="beian">{{@site.beian}}</p>{{/if}}
        </div>
        <div class="copy-right">
            <span>© 2022 <a href="{{site.basehost}}/" target="_blank">{{site.webname}}</a></span><span>Powered by <a href="https://me.i-i.me/special/melog.html" target="_blank">Melog</a> · {{site.VERSION}} · {{new Date() - site.APP_TIME}}ms</span>
        </div>
    </footer>

    <div id="go-top"></div>
    <script src="https://apps.bdimg.com/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/static/melog.js?v=0.1"></script>
    {{block 'js'}}{{/block}}
</body>
</html>