<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>管理中心 - {{site.webname}}</title>
    <link href="/static/admin/layui/css/layui.css" rel="stylesheet">
    <link href="/static/admin/admin.css" rel="stylesheet">
    {{block 'css'}}{{/block}}
</head>
<body>
{{if user}}
<!-- 遮罩层 -->
<div class="me-mobile-mask" id="meMask"></div>

<!-- 左侧导航 -->
<div class="me-side layui-bg-cyan" id="meSide">
    <div class="me-logo">
        <img src="/favicon.ico" alt="logo">
        <span>{{site.webname}}</span>
    </div>
    <ul class="layui-nav layui-nav-tree" lay-filter="sideNav" lay-shrink="all">
        <li class="layui-nav-item{{ctrl == 'index' ? ' layui-this' : ''}}">
            <a href="{{url('index/index')}}"><i class="layui-icon layui-icon-console"></i><span class="layui-nav-text">仪表盘</span></a>
        </li>
        <li class="layui-nav-item{{(ctrl == 'article' || ctrl == 'cate' || ctrl == 'comment') ? ' layui-nav-itemed' : ''}}">
            <a href="javascript:;"><i class="layui-icon layui-icon-read"></i><span class="layui-nav-text">内容管理</span></a>
            <dl class="layui-nav-child">
                <dd{{@ ctrl == 'article' ? ' class="layui-this"' : ''}}><a href="{{url('article/index')}}">文章</a></dd>
                <dd{{@ ctrl == 'cate' ? ' class="layui-this"' : ''}}><a href="{{url('cate/index')}}">分类</a></dd>
                <dd{{@ ctrl == 'comment' ? ' class="layui-this"' : ''}}><a href="{{url('comment/index')}}">评论</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item{{(ctrl == 'upload' || ctrl == 'link') ? ' layui-nav-itemed' : ''}}">
            <a href="javascript:;"><i class="layui-icon layui-icon-picture"></i><span class="layui-nav-text">媒体</span></a>
            <dl class="layui-nav-child">
                <dd{{@ ctrl == 'upload' ? ' class="layui-this"' : ''}}><a href="{{url('upload/index')}}">图片</a></dd>
                <dd{{@ ctrl == 'link' ? ' class="layui-this"' : ''}}><a href="{{url('link/index')}}">链接</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item{{(ctrl == 'site') ? ' layui-nav-itemed' : ''}}">
            <a href="javascript:;"><i class="layui-icon layui-icon-set"></i><span class="layui-nav-text">设置</span></a>
            <dl class="layui-nav-child">
                <dd{{@ ctrl == 'site' ? ' class="layui-this"' : ''}}><a href="{{url('site/index')}}">系统设置</a></dd>
                <dd{{@ ctrl == 'cache' ? ' class="layui-this"' : ''}}><a href="javascript:;" id="cache-clear" data-url="{{url('site/clear')}}">清理缓存</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item{{ctrl == 'user' ? ' layui-this' : ''}}">
            <a href="{{url('user/index')}}"><i class="layui-icon layui-icon-user"></i><span class="layui-nav-text">账号管理</span></a>
        </li>
    </ul>
    <div class="me-side-bottom">
        <a href="{{url('/')}}" target="_blank"><i class="layui-icon layui-icon-website"></i><span>访问前台</span></a>
        <a href="{{url('index/logout')}}"><i class="layui-icon layui-icon-logout"></i><span>退出登录</span></a>
    </div>
</div>

<!-- 右侧主体 -->
<div class="me-main" id="meMain">
    <div class="me-header">
        <span class="me-toggle" id="meToggle"><i class="layui-icon layui-icon-shrink-right"></i></span>
        <span class="me-title">{{title}}</span>
    </div>
    <div class="me-content">
        {{block 'main'}}{{/block}}
    </div>
</div>

<script src="https://apps.bdimg.com/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/static/admin/layui/layui.js"></script>
<script src="/static/admin/admin.js"></script>
{{else}}
<div class="login-wrap">
    {{block 'main'}}{{/block}}
</div>
<script src="https://apps.bdimg.com/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/static/admin/layui/layui.js"></script>
{{/if}}
{{block 'js'}}{{/block}}
</body>
</html>
