<style>
    /* module(list) */
    .list-item {
        padding: 10px 0;
        line-height: 1.6;
    }
    .list-item:not(:last-child) {
        border-bottom: 1px solid #eee;
    }
    .list-item dt {
        padding: 3px 0;
    }
    .list-item dt .title {
        font-size: 16px;
        font-weight: bold;
    }
    .list-item dd {
        font-size: 13px;
        color: #888;
        padding: 5px 0;
        overflow: hidden;
    }
    .list-item ul {
        font-size: 13px;
        height: 21px;
        line-height: 21px;
        color: #888;
        display: flex;
        overflow: hidden;
    }
    .list-item ul li:not(:first-child) {
        margin-left: 7px;
        padding-left: 7px;
        border-left: 1px solid #EEE;
    }
    .list-item ul li:not(:last-child) {
        white-space: nowrap;
    }
    .list-item .image {
        width: 120px;
        display: block;
        float: right;
        margin-left: 5px;
    }
    .list-item .image img {
        width: 100%;
    }

    @media screen and (min-width: 961px) {
        .list-item.thumb {
            position: relative;
            padding-right: 130px;
        }
        .list-item .image {
            position: absolute;
            top: 6px;
            right: 6px;
        }
    }
</style>
<script type="text/x-template" id="module-list">
    <dl class="list-item" v-for="(item, index) in data.list" :key="index" :class="item.thumb && 'thumb' || ''">
        <dt><h3 class="title">{$item.title}</h3></dt>
        <dd>
            <a class="image" v-if="item.thumb"><img :src="item.thumb" /></a>
            {$item.description}
        </dd>
        <ul>
            <li>时间: {$item.add_date}</li>
            <li>浏览: {$item.click}</li>
            <li>关键词: {$item.keywords}</li>
        </ul>
    </dl>
</script>
<script>
    components['module-list'] = defineComponent({
        template: '#module-list',
        props: {
            data: {
                type: Object,
                default: {}
            }
        },
        setup(props, ctx) {
            onMounted(() => {
                console.log('module-list mounted');
            });
        },
        inheritAttrs: false
    });

    modules['list'] = {
        module_type: 'list',
        module_name: '文章列表',
        module_icon: 'list'
    }
</script>