html, body, .spedit { width: 100%; height: 100%;}
.layui-form-label {width: 45px; padding-left: 0;}
.layui-input-block {margin-left: 75px;}
.layui-input-wrapper {box-sizing: border-box;}
.layui-input {height: 36px; line-height: 36px;}
.layui-input:focus, .layui-textarea:focus {
    border-color: #d2d2d2!important;
}
.layui-form-select .layui-input {height: 38px; line-height: 38px;}
.layui-form-item .layui-form-checkbox {margin-top: -2px;}
.layui-color-picker {width: 240px;}

/* spedit */
.spedit {
    display: flex;
}
.spedit .spedit-item {
    padding: 0 10px;
    box-sizing: border-box;
}
.spedit .spedit-item .label {
    display: block;
    padding: 10px 0;
    font-weight: 400;
    line-height: 20px;
}

/* spedit-module */
.spedit-module {
    width: 200px;
}
.module-list {
    height: calc(100% - 42px);
    overflow-y: overlay;
    font-size: 12px;
    margin-right: -10px;
    padding-right: 10px;
}
.module-list::-webkit-scrollbar{width:6px;}
.module-list::-webkit-scrollbar-thumb{background-color:#ccc;border-radius:3px;}
.module-list .module-item {
    padding: 25px 5px;
    text-align: center;
    border: 1px solid #f4f6fc;
    background-color: #f4f6fc;
    margin-bottom: 6px;
    word-break: break-all;
}
.module-list .module-item:hover {
    border: 1px dashed #1890ff;
    color: #1890ff;
    cursor: move;
}
.module-list .module-item .layui-icon {
    vertical-align: -1px;
}

/* spedit-special */
.spedit .spedit-special {
    padding: 0;
}
.spedit .spedit-special .label {
    padding-left: 10px;
    padding-right: 10px;
}
.spedit-special {
    flex: 1;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    min-width: 300px;
}
.special-list {
    padding: 0 10px;
    margin: 0 auto;
    height: calc(100% - 42px);
    overflow-y: overlay;
    position: relative;
}
.special-list::-webkit-scrollbar{width:6px;}
.special-list::-webkit-scrollbar-thumb{background-color:#ccc;border-radius:3px;}
.special-item {
    min-height: 30px;
    position: relative;
    cursor: move;
    overflow: hidden;
}
.special-item::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border: 1px dashed #059f05;
    display: none;
}
.special-item:hover::after,
.special-item.hover::after {
    display: block;
}
.special-place {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 10px solid rgb(4, 124, 54);
    border-bottom: 5px solid transparent;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-5px);
}
.special-list img {
    display: block;
    width: 100%;
}
.special-list .special-item-empty {
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.special-list .special-item-disable {
    opacity: 0.6;
}
.special-list .special-item-disable:hover {
    opacity: 1;
}

/* spedit-form */
.spedit-form {
    width: 350px;
    min-width: 310px;
}
.form-list {
    height: calc(100% - 80px);
    overflow-y: overlay;
    margin-right: -10px;
    padding-right: 10px;
}
.form-list::-webkit-scrollbar{width:6px;}
.form-list::-webkit-scrollbar-thumb{background-color:#ccc;border-radius:3px;}