/.vscode
/.q
/.git
/.github
/.gitignore
/bin
/node_modules
/public/upload/*
/config/lock.js
/config/melog.db
/config/melog.db-shm
/config/melog.db-wal
/docker/.dockerignore
/docker/Dockerfile
/melog-api.skill
/CHANGED.md
/publish.bat
/types.js
