    <aside class="aside">
        <hr class="m-hr" />
        <form class="box s-form" action="/search/">
            <dt><div class="title"><input class="input s-input" type="text" name="keyword" value="{{keyword}}" placeholder="请输入关键词" /></div><span class="button s-button">搜索</span></dt>
        </form>
        <hr class="m-hr" />
        <dl class="box">
            <dt><h3 class="title">最新文章</h3></dt>
            <dd>
                <ul>{{each latest item index}}{{if !index && item.thumb}}
                    <li><a class="image" href="{{url(':article', {id: item.id})}}"><img src="{{item.thumb}}"/><span>{{item.title}}</span></a></li>{{else}}
                    <li><a href="{{url(':article', {id: item.id})}}">{{item.title}}</a></li>{{/if}}{{/each}}
                </ul>
            </dd>
        </dl>
        <hr class="m-hr" />
        <dl class="box">
            <dt><h3 class="title">热点文章</h3></dt>
            <dd>
                <ul>{{each hot item index}}{{if !index && item.thumb}}
                    <li><a class="image" href="{{url(':article', {id: item.id})}}"><img src="{{item.thumb}}"/><span>{{item.title}}</span></a></li>{{else}}
                    <li><a href="{{url(':article', {id: item.id})}}">{{item.title}}</a></li>{{/if}}{{/each}}
                </ul>
            </dd>
        </dl>
    </aside>