{{extend './layout.htm'}}

{{block 'css'}}
<link href="https://cdn.bootcss.com/highlight.js/9.15.10/styles/default.min.css" rel="stylesheet">
<style>
.layui-tab-content {padding: 10px 0 0;}

.meedit-wrap {
    display: flex;
    height: 100%;
}
.meedit {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.meedit-area {
    flex: 1;
    overflow-y: auto;
}
.meedit-tool {
    padding: 3px 5px 5px;
    border: 1px solid #eee;
    border-radius: 2px;
    font-size: 0;
    margin-bottom: -2px;
}
.meedit-tool .layui-icon,
.meedit-tool .meedit-tool-mid {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
.meedit-tool .layui-icon {
    width: 32px;
    height: 30px;
    line-height: 30px;
    margin: 3px 5px;
    color: #777;
    cursor: pointer;
    border-radius: 2px;
}
.meedit-tool .layui-icon:hover,
.meedit-tool .layui-icon.hover {
    background-color: #eee;
    color: #000;
}
.meedit-tool .meedit-tool-mid {
    font-size: 14px;
    width: 1px;
    height: 18px;
    margin: 0 10px;
    background-color: #d2d2d2;
}
.meedit-tool .meedit-tool-table {
    position: relative;
}
.meedit-tool .meedit-tool-table:hover .meedit-table-select {
    display: block;
}
.meedit-tool .meedit-tool-table:hover.no-hover .meedit-table-select {
    display: none;
}
.meedit-table-select {
    position: absolute;
    left: 1px;
    top: 32px;
    padding: 5px;
    width: 144px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    background-color: #fff;
    z-index: 1;
    display: none;
}
.meedit-table-select-list {
    cursor: pointer;
}
.meedit-table-select-row {
    display: flex;
}
.meedit-table-select-item {
    width: 14px;
    height: 14px;
    margin: 1px;
    background-color: #f7f7f7;
    border: 1px solid #f0f0f0;
}
.meedit-table-select-item.hover {
    background-color: #46bc99;
    border: 1px solid #3fa98a;
}
.meedit-table-select-tips {
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-size: 14px;
    letter-spacing: 3px;
}

.meview {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.meview-title {
    padding: 4px 10px 3px 60px;
    line-height: 36px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    overflow: hidden;
    border: 1px solid #eee;
    border-left: 0;
    border-top-right-radius: 2px;
    position: relative;
}
.meview-title::after {
    content: '\e691';
    font-family: layui-icon!important;
    font-size: 16px;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    top: 3px;
    left: 10px;
    width: 32px;
    height: 30px;
    line-height: 30px;
    margin: 3px 5px;
    background-color: rgba(0,0,0,0.09);
    color: #000;
    cursor: pointer;
    border-radius: 2px;
}
.meview-content {
    flex: 1;
    overflow-y: auto;
    padding: 0 10px;
}
.meview-content>*:first-child {
    margin-top: 6px;
}
.meview-content h1,
.meview-content h2,
.meview-content h3 {
    font-weight: bold;
}

@media screen and (min-width: 450px) {
    .meedit .meedit-area::-webkit-scrollbar,
    .meview .meview-content::-webkit-scrollbar {width:6px;}
    .meedit .meedit-area::-webkit-scrollbar-thumb,
    .meview .meview-content::-webkit-scrollbar-thumb {background-color:#ddd;cursor: pointer;}
}


/* 前台样式 */
.meview-content>* {
    margin: 1em 0;
}
.meview-content>blockquote+blockquote,
.meview-content>blockquote+pre,
.meview-content>pre+pre,
.meview-content>pre+blockquote {
    margin-top: 1.3em;
}
.meview-content h1, .meview-content h2 {
    padding-bottom: .3em;
    border-bottom: 1px solid #eee;
}
.meview-content blockquote {
    padding: .8em 1em;
    border-left: 4px solid #ccc;
    background-color: #f3f3f3;
}
.meview-content hr {
    border: 1px solid #eee;
}
.meview-content code {
    color: #f63;
    word-break: break-word;
}
.meview-content a {
    color: #46bc99;
}
.meview-content pre {
    padding: .8em 1em;
    max-height: 35em;
    line-height: 1.4;
    background-color: #f3f3f3;
    overflow: auto;
}
.meview-content pre code {
    padding: 0;
    color: inherit;
    overflow-wrap: normal;
    word-break: normal;
    background: inherit;
    overflow-x: initial;
}
.meview-content table {
    width: 100%;
    border-collapse:collapse;
}
.meview-content table th, .meview-content table td {
    border: 1px solid #eee;
    padding: 0.5em;
}
.meview-content table th {
    background-color: #f9f9f9;
    font-weight: bold;
}
.meview-content li {
    margin: 0.6em 0 0.6em 20px;
    list-style: inherit;
}
.meview-content p {
    line-height: 1.8;
}
.meview-content img {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}
</style>
{{/block}}

{{block 'main'}}
<form method="post" action="{{url('save')}}" class="layui-form">
    <input type="hidden" name="id" value="{{article.id}}">
    <input type="hidden" name="user_id" value="{{article.user_id || user.id}}">
    <div class="layui-tab" lay-filter="demo">
        <ul class="layui-tab-title">
            <li class="layui-this">文章信息</li>
            <li>内容/预览</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <div class="layui-form-item">
                    <label class="layui-form-label">标题</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" lay-verify="required" lay-verType="tips" class="layui-input" value="{{article.title}}">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">栏目</label>
                    <div class="layui-input-block">
                        <select name="cate_id" lay-verify="required">
                            {{each cate_list item}}
                            <option value="{{item.id}}" {{(item.id == article.cate_id) && 'selected'}}>{{item.cate_name}}</option>{{/each}}
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">作者</label>
                    <div class="layui-input-block">
                        <input type="text" name="writer" class="layui-input" value="{{article.writer || '雨思'}}">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">来源</label>
                    <div class="layui-input-block">
                        <input type="text" name="source" class="layui-input" value="{{article.source || 'me'}}">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">来源链接</label>
                    <div class="layui-input-block">
                        <input type="text" name="source_url" class="layui-input" value="{{article.source_url}}">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">关键词</label>
                    <div class="layui-input-block">
                        <input type="text" name="keywords" class="layui-input" value="{{article.keywords}}">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">简介</label>
                    <div class="layui-input-block">
                        <textarea name="description" placeholder="请输入内容" class="layui-textarea">{{article.description}}</textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">评论</label>
                    <div class="layui-input-block">
                        <select name="is_comment" lay-verify="required">
                            {{each comment_option item}}
                            <option value="{{item.value}}" {{(item.value == article.is_comment) && 'selected'}}>{{item.name}}</option>{{/each}}
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">点击</label>
                    <div class="layui-input-block">
                        <input type="text" name="click" class="layui-input" value="{{article.click || 0}}">
                    </div>
                </div>
            </div>
            <div class="layui-tab-item article">
                <div class="meedit-wrap">
                    <div class="meedit">
                        <div class="meedit-tool">
                            <i class="layui-icon" title="标题" command="title" style="font-size: 17px; font-weight: bold;">H</i>
                            <i class="layui-icon" title="加粗" command="bold">&#xe62b;</i>
                            <i class="layui-icon" title="斜体" command="italic">&#xe644;</i>
                            <i class="layui-icon" title="删除线" command="delete">&#xe64f;</i>
                            <span class="meedit-tool-mid"></span>
                            <i class="layui-icon" title="引用" command="quote" style="font-size: 18px;">&#xe687;</i>
                            <i class="layui-icon" title="列表" command="list">&#xe66b;</i>
                            <i class="layui-icon" title="代码" command="code" style="font-size: 20px;">&#xe64e;</i>
                            <span class="meedit-tool-mid"></span>
                            <i class="layui-icon" title="插入链接" command="link">&#xe64c;</i>
                            <i class="layui-icon" title="图片" command="image">&#xe64a;</i>
                            <i class="layui-icon meedit-tool-table" title="表格" command="table" style="font-size: 22px; border-bottom: 2px solid #fff; margin-bottom: 1px;">&#xe62d;</i>
                            <span class="meedit-tool-mid"></span>
                            <i class="layui-icon" title="撤销" command="cancel" style="font-weight: bold; transform: rotateY(180deg);">&#xe666;</i>
                            <i class="layui-icon" title="恢复" command="recover" style="font-weight: bold;">&#xe666;</i>
                            <i class="layui-icon" title="帮助" command="help" style="font-weight: bold;">&#xe664;</i>
                            <span class="meedit-tool-mid"></span>
                            <i class="layui-icon meedit-tool-view" title="预览" command="view" layedit-event="v">&#xe691;</i>
                        </div>
                        <textarea class="layui-textarea meedit-area" name="content" placeholder="请输入内容">{{@article.content || ''}}</textarea>
                    </div>
                    <div class="meview" style="display: none;">
                        <div class="meview-title"></div>
                        <div class="meview-content"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="text-align: center;">
        <button class="layui-btn" lay-submit>提交</button>
    </div>
</form>
{{/block}}

{{block 'js'}}
<script src="https://cdn.bootcss.com/markdown-it/10.0.0/markdown-it.min.js"></script>
<script src="https://cdn.bootcss.com/highlight.js/9.15.10/highlight.min.js"></script>
<script>
    layui.use(['form', 'element'], function() {
        var form = layui.form
        ,element = layui.element;

        // 初始化高度
        $('.article').height($(window).height() - $('header').height() - $('.layui-tab-title').height() - 30 - 60);

        var M = {};
        M.md = window.markdownit();
        M.mdEditChanged = false;
        M.timer = null;
        M.dom = $('.meedit-area').get(0);

        M.data = [M.dom.value];
        M.dataIndex = 0;
        M.save = function() {
            if(this.data[this.dataIndex] == this.dom.value) {
                return;
            }

            if(this.data.length > this.dataIndex + 1) {
                this.data.length = this.dataIndex + 1;
            }

            this.data.push(this.dom.value);
            if(this.dataIndex == 9) {
                this.data.shift();
            } else {
                this.dataIndex++;
            }
        }

        // 内容变化
        $('.meedit-area').on('keyup', function() {
            M.mdEditChanged = true;
            if($('.meedit-tool-view').hasClass('hover')) {
                M.timer && clearTimeout(M.timer);
                M.timer = setTimeout(M.mdRender, 200);
            }
            M.save();
        });

        // 粘贴图片
        $('.meedit-area').on('paste', function(event) {
            if (event.clipboardData || event.originalEvent) {
                var clipboardData = (event.clipboardData || event.originalEvent.clipboardData);
                if (clipboardData.items) {
                    var items = clipboardData.items,
                        len = items.length,
                        blob = null;
                    for (var i = 0; i < len; i++) {
                        if (~items[i].type.indexOf("image")) {
                            blob = items[i].getAsFile();
                        }
                    }
                    if (blob !== null) {
                        var reader = new FileReader();
                        reader.onload = function (event) {
                            var base64_str = event.target.result;
                            M.upload(base64_str, function(image) {
                                M.tool_wrap2('![', '](' + image + ')');
                            });
                        }
                        reader.readAsDataURL(blob);
                        event.preventDefault();
                    }
                }
            }
        });

        M.url = "{url('upload/base64')}";
        M.upload = function(base64_str, callback) {
            $.ajax({
                url: this.url,
                type: 'POST',
                data: {file: base64_str},
                success: function(res) {
                    if(res.state) {
                        callback(res.data.url);
                    } else {
                        layer.msg(res.msg);
                    }
                },
                error: function() {
                    layer.msg('上传出错了！');
                }
            });
        }

        // 工具栏
        $('.meedit-tool .layui-icon').click(function(e) {
            var command = $(this).attr('command');
            M['tool_' + command]($(this), e);
        });

        $('.meedit-tool-table').append(
            '<div class="meedit-table-select">'
                + '<div class="meedit-table-select-list">'
                + (function(){
                    var arr = [];
                    for(var i = 0; i < 10; i++) {
                        arr.push('<div class="meedit-table-select-row">');
                        for(var j = 0; j < 8; j++) {
                            arr.push('<div class="meedit-table-select-item" row="' + i + '" col="' + j + '"></div>');
                        }
                        arr.push('</div>');
                    }
                    return arr.join("\n");
                })()
                + '</div>'
                + '<div class="meedit-table-select-tips">'
                + '</div>'
            + '</div>'
        );

        $('.meedit-table-select-item').on('mouseover', function(e) {
            var row = parseInt($(this).attr('row')) + 1;
            var col = parseInt($(this).attr('col')) + 1;
            
            $('.meedit-table-select-row').each(function(i) {
                $(this).children().each(function(j) {
                    if(i < row && j < col) {
                        $(this).addClass('hover');
                    } else {
                        $(this).removeClass('hover');
                    }
                });
            });

            $('.meedit-table-select-tips').text(row + '行' + col + '列');
        });

        $('.meedit-table-select').on('mouseout', function(e) {
            var event = window.event || e;
            var obj = event.toElement || event.relatedTarget;
            if(!this.contains(obj)) {
                $('.meedit-table-select-item').removeClass('hover');
            }
        });

        M.tool_begin = function(str) {
            var len = str.length;
            var pos = this.dom.caret().begin;
            var text = this.dom.value;
            if(pos == 0) {
                pos = text.length;
            }
            for(var i = pos; i >= 0; i--) {
                if(text[i - 1] == "\n" || i == 0) {
                    var str1 = text.substr(0, i);
                    var str2 = text.substr(i);
                    if(str2.substr(0, len) == str) {
                        this.dom.value = str1 + str + str2;
                        this.dom.caret(pos + len);
                    } else {
                        this.dom.value = str1 + str + ' ' + str2;
                        this.dom.caret(pos + len + 1);
                    }
                    break;
                }
            }
            this.mdRender();
            this.save();
        }

        M.tool_title = function() {
            this.tool_begin('#');
        }

        M.tool_quote = function() {
            this.tool_begin('>');
        }

        M.tool_list = function() {
            this.tool_begin('- ');
        }

        M.tool_wrap = function(str) {
            var len = str.length;
            var pos = this.dom.caret();
            var text = this.dom.value;
            var str1 = text.substr(0, pos.begin) || '';
            var str2 = text.substr(pos.begin, pos.end - pos.begin) || '';
            var str3 = text.substr(pos.end) || '';
            if(str1.length > len - 1 && str3.length > len - 1 && str1.substr(-len) == str && str3.substr(0, len) == str && str != '`') {
                this.dom.value = [str1.substr(0, str1.length - len), str2, str3.substr(len)].join('');
                this.dom.caret(pos.begin - len, pos.end - len);
            } else {
                this.dom.value = [str1, str2, str3].join(str);
                this.dom.caret(pos.begin + len, pos.end + len);
            }
            this.mdRender();
            this.save();
        }

        M.tool_bold = function() {
            this.tool_wrap('**');
        }

        M.tool_italic = function() {
            this.tool_wrap('*');
        }

        M.tool_delete = function() {
           this.tool_wrap('~~');
        }

        M.tool_delete = function() {
            this.tool_wrap('~~');
        }

        M.tool_code = function() {
            this.tool_wrap('`');
        }

        M.tool_wrap2 = function(left, right) {
            right || (right = '');
            var len = left.length;
            var pos = this.dom.caret();
            var text = this.dom.value;
            var str1 = text.substr(0, pos.begin) || '';
            var str2 = text.substr(pos.begin, pos.end - pos.begin) || '';
            var str3 = text.substr(pos.end) || '';
            this.dom.value = str1 + left + str2 + right + str3;
            if(str2.length) {
                this.dom.caret(pos.begin + len + str2.length + 2);
            } else {
                this.dom.caret(pos.begin + len, pos.end + len);
            }
            this.mdRender();
            this.save();
        }

        M.tool_link = function() {
            this.tool_wrap2('[', ']()');
        }

        M.tool_image = function() {
            this.tool_wrap2('![', ']()');
        }

        M.tool_table = function($target, e) {
            var $item = $(e.target);
            if(!$item.hasClass('meedit-table-select-item')) {
                return;
            }
            var row = parseInt($item.attr('row')) + 1;
            var col = parseInt($item.attr('col')) + 1;
            var str = "\n";
            for(var i = -2; i < row; i++) {
                str += '|';
                for(var j = 0; j < col; j++) {
                    str += i == -1 ? '--|' : '  |';
                }
                str += "\n";
            }
            this.tool_wrap2(str);
            $target.addClass('no-hover');
            setTimeout(function() {
                $target.removeClass('no-hover');
            }, 100);
        }

        M.tool_cancel = function() {
            if(this.dataIndex == 0) {
                return;
            }

            this.dataIndex--;
            this.dom.value = this.data[this.dataIndex];
            this.mdRender();
        }

        M.tool_recover = function() {
            if(this.dataIndex == this.data.length - 1) {
                return;
            }

            this.dataIndex++;
            this.dom.value = this.data[this.dataIndex];
            this.mdRender();
        }

        M.tool_help = function() {
            layer.open({
                title: '关于',
                content: 'Meedit V1.0'
            });
        }

        M.tool_view = function($target) {
            if($target.hasClass('hover')) {
                $target.removeClass('hover');
                $(".meview").hide();
                $(window).width() <= 450 && $('.meedit').show();
            } else {
                $target.addClass('hover');
                $(".meview").show();
                $(window).width() <= 450 && $('.meedit').hide();

                this.mdRender();
            }
        }

        // 关闭预览
        $('.meview-title').click(function(e) {
            if(e.offsetX > 15 && e.offsetX <= 15 + 32 && e.offsetY > 6 && e.offsetY <= 6 + 30) {
                $('.meedit-tool-view').click();
            }
        });

        M.mdRender = function () {
            this.mdEditChanged = false;
            $('.meview-title').html($('input[name=title]').val() || '内容预览');
            $('.meview-content').html(M.md.render($('.meedit-area').val()));
            $('pre code').each(function(i, block) {
                hljs.highlightBlock(block);
            });
        }

        // 左右滚动同步
        $(".meedit-area").hover(function() {
            M.syncScroll($(this), $(".meview-content"));
        });
        $(".meview-content").hover(function() {
            M.syncScroll($(this), $(".meedit-area"));
        });

        M.syncScroll = function($master, $slave) {
            $slave.off('scroll');
            $master.off('scroll').on('scroll', function() {
                var percentage = this.scrollTop / (this.scrollHeight - this.offsetHeight);
                var height = percentage * ($slave.get(0).scrollHeight - $slave.get(0).offsetHeight);
                $slave.scrollTop(height);
            });
        }

        // 光标位置
        M.dom.caret = function(begin, end) {
            if (this.length == 0) return;
            if (typeof begin == 'number') {
                end = (typeof end == 'number') ? end : begin;
                if (this.setSelectionRange) { //现代浏览器
                    this.setSelectionRange(begin, end);
                    this.focus();
                } else if (this.createTextRange) { //IE678
                    var range = this.createTextRange();
                    range.collapse(true);
                    range.moveEnd('character', end);
                    range.moveStart('character', begin);
                    range.select();
                }
            } else {
                if (this.setSelectionRange) { //现代浏览器
                    begin = this.selectionStart;
                    end = this.selectionEnd;
                } else if (document.selection && document.selection.createRange) { //IE678
                    var range = document.selection.createRange();
                    begin = 0 - range.duplicate().moveStart('character', -this.value.length);
                    end = begin + range.text.length;
                }
                return {
                    begin: begin,
                    end: end
                };
            }
        }

        // PC端自动打开预览
        if($(window).width() > 450) {
            $('.meedit-tool .layui-icon[command=view]').click();
        }
    });
</script>
{{/block}}