{{extend './layout.htm'}}

{{block 'main'}}
<form class="layui-form table-tools">
    <div class="layui-input-inline input">
        <input type="text" name="keyword" value="{{keyword}}" autocomplete="off" class="layui-input" placeholder="请输入关键词">
    </div>
    <div class="sp5"></div>
    <div class="layui-input-inline">
        <button type="submit" class="layui-btn" lay-submit>搜索</button>
    </div>
</form>
<div class="table-wrap">
    <table class="layui-table">
        <thead>
            <tr><th>ID</th><th>文章标题</th><th>昵称</th><th>邮箱</th><th>主页</th><th>IP</th><th>时间</th><th>操作</th></tr> 
        </thead>
        <tbody>
            {{each list item}}
            <tr>
                <td rowspan="2">{{item.id}}</td>
                <td class="title"><a href="{{url(':article', {id: item.article_id})}}" target="blank">{{item.title}}</a></td>
                <td>{{item.uname}}</td>
                <td>{{item.email}}</td>
                <td>{{item.url}}</td>
                <td>{{item.ip}}</td>
                <td>{{item.add_time | dateFormat 'YYYY-mm-dd HH:ii'}}</td>
                <td rowspan="2"><a href="{{url('delete', {id: item.id})}}" class="layui-btn layui-btn-danger layui-btn-sm">删除</a></td>
            </tr>
            <tr>
                <td colspan="6" class="content">{{item.pid ? '回复：' : '评论：'}}{{item.content}}</td>
            </tr>{{/each}}
        </tbody>
    </table>
</div>
{{@pagination}}
{{/block}}

{{block 'js'}}
<script>
    layui.use(['form', 'layer'], function(){
        var form = layui.form;
        var layer = layui.layer;

        $('a.layui-btn-danger').each(function(){
            var url = $(this).attr('href');
            $(this).attr('href', 'javascript:;').click(function () {
                layer.confirm("确定删除吗？", function(index){
                    layer.close(index);
                    $.get(url, function(re){
                        if(re.state){
                            layer.msg(re.msg, function(){
                                history.go(0);
                            });
                        }else{
                            layer.msg(re.msg);
                        }
                    });
                });
            });
        });
    });
</script>
{{/block}}