{{extend './layout.htm'}}

{{block 'main'}}
<fieldset class="layui-elem-field layui-field-title">
    <legend>{{title}}</legend>
</fieldset>

<form method="post" class="layui-form layui-form-pane">
    <div class="layui-form-item">
        <label class="layui-form-label">邮箱</label>
        <div class="layui-input-block">
            <input type="text" name="email" lay-verify="required|email" lay-verType="tips" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">密码</label>
        <div class="layui-input-block">
            <input type="password" name="password" lay-verify="required" lay-verType="tips" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item center">
        <button class="layui-btn" lay-submit>提交</button>
        <a class="layui-btn layui-btn-primary"  href="{{url('register')}}">没账号？去注册</a>
    </div>
</form>
{{/block}}

{{block 'js'}}
<script>
    layui.use(['form'], function(){
        var form = layui.form;
    });
</script>
{{/block}}