{{extend './layout.htm'}}

{{block 'css'}}
<style>
.site-box {
    font-size: 0;
}
.site-box a {
    display: inline-block;
    vertical-align: middle;
    width: 120px;
    margin-left: 20px;
    margin-top: 20px;
    padding: 30px 10px;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    line-height: 22px;
    font-size: 16px;
}
</style>
{{/block}}

{{block 'main'}}
<div>
    <ul class="site-box">
        <a style="background-color: #009688;" href="{{url('article/index')}}">
            <i class="layui-icon layui-icon-read"></i> 文章
        </a>
        <a style="background-color: #5FB878;" href="{{url('cate/index')}}">
            <i class="layui-icon layui-icon-list"></i> 分类
        </a>
        <a style="background-color: #393D49;" href="{{url('comment/index')}}">
            <i class="layui-icon layui-icon-dialogue"></i> 评论
        </a>
        <a style="background-color: #1E9FFF;" href="{{url('upload/index')}}">
            <i class="layui-icon layui-icon-picture"></i> 文件
        </a>
        <a style="background-color: #FFB800;" href="{{url('link/index')}}">
            <i class="layui-icon layui-icon-link"></i> 链接
        </a>
        <a style="background-color: #FF5722;" href="{{url('user/index')}}">
            <i class="layui-icon layui-icon-user"></i> 账号
        </a>
        <a style="background-color: #01AAED;" href="{{url('site/index')}}">
            <i class="layui-icon layui-icon-set"></i> 系统
        </a>
        <a style="background-color: #2F4056;" href="/" target="blank">
            <i class="layui-icon layui-icon-website"></i> 前台
        </a>
    </ul>
</div>
{{/block}}

{{block 'js'}}
<script>
    layui.use(['form'], function(){
        var form = layui.form;
    });
</script>
{{/block}}