<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{{title}} - {{site.webname}}</title>
    <link href="/static/admin/layui-vue/1.1.0.css" rel="stylesheet">
    <link href="/static/admin/spedit.css" rel="stylesheet">
</head>
<body>
    <div class="spedit">
        <div class="spedit-item spedit-module">
            <label class="label">模块</label>
            <div class="module-list">
                <div class="module-item" v-for="item in moduleList" @dragstart="dragstart($event, item.module_type)" @dragend="dragend" draggable="true">
                    <i class="layui-icon" :class="'layui-icon-' + item.module_icon"></i> {$item.module_name}
                </div>
            </div>
        </div>
        <div class="spedit-item spedit-special">
            <label class="label">内容</label>
            <div class="special-list" @drop="drop" @dragover.prevent="dragover" @scroll="scroll" id="special-list">
                <div v-for="(item, index) in specialItem"
                    :key="item.id"
                    :class="'special-item special-item-' + item.type + (itemID == item.id ? ' hover' : '') + (1 == item.enable ? '' : ' special-item-disable')"
                    :id="'special-item-' + item.id"
                    @dragstart="dragstart($event, 'sort_' + index)"
                    @dragend="dragend"
                    @click="specialItemClick(item)"
                    draggable="true">
                    <template v-if="item.type == 'list'">
                        <dl class="list-item" :class="item.thumb || ''" v-if="item.data.list.length" v-for="(item, index) in item.data.list" :key="index">
                            <dt><h3 class="title">{$item.title}</h3></dt>
                            <dd>
                                <a class="image" v-if="item.thumb"><img :src="item.thumb" /></a>
                                此处仅展示部分信息，完成信息，在前台预览
                            </dd>
                            <ul>
                                <li>时间: {$item.add_date}</li>
                                <li>浏览: {$item.click}</li>
                                <li>关键词: {$item.keywords}</li>
                            </ul>
                        </dl>
                        <div v-else class="special-item-empty">点击编辑内容</div>
                    </template>
                    <template v-else>
                        <div class="special-item-empty">点击编辑内容</div>
                    </template>
                </div>
                <div class="special-place" :style="'top: ' + (topArr[place]) + 'px'" v-if="placeShow"></div>
            </div>
        </div>
        <div class="spedit-item spedit-form">
            <label class="label">数据</label>
            <div class="form-list">
                <lay-form v-if="typeof(formData.type) != 'undefined'" :model="formData.data" class="layui-form layui-form-pane">
                    <lay-form-item label="模块类型" prop="rows">
                        <lay-input v-model="moduleList[formData.type].module_name" readonly></lay-input>
                    </lay-form-item>

                    <template v-if="formData.type == 'banner'">
                    </template>

                    <template v-else-if="formData.type == 'swiper'">
                    </template>

                    <template v-else-if="formData.type == 'navbar'">
                        <div class="layui-form-item">
                            <label class="layui-form-label">图标列数</label>
                            <div class="layui-input-block">
                                <input type="text" name="column" lay-verify="required" placeholder="请输入图标列数" :value="formData.data.column || 4" class="layui-input">
                            </div>
                        </div>
                    </template>

                    <template v-else-if="formData.type == 'list'">
                        <lay-form-item label="数据来源" prop="source">
                            <lay-radio v-model="formData.data.source" name="source" label="keyword">文章搜索</lay-radio>
                            <lay-radio v-model="formData.data.source" name="source" label="select">手工选择</lay-radio>
                        </lay-form-item>
                        <lay-form-item v-if="formData.data.source == 'keyword'" label="关键词" prop="keyword">
                            <lay-input v-model="formData.data.keyword"></lay-input>
                        </lay-form-item>
                        <lay-form-item v-if="formData.data.source == 'keyword'" label="显示数量" prop="rows">
                            <lay-input v-model="formData.data.rows"></lay-input>
                        </lay-form-item>
                        <me-article-select v-if="formData.data.source == 'select'" v-model:list="formData.data.list" v-model="formData.data.ids"></me-article-select>
                    </template>

                    <template v-else>
                    </template>

                    <lay-form-item label="模块状态" prop="enable">
                        <lay-radio v-model="formData.enable" name="enable" label="1">启用</lay-radio>
                        <lay-radio v-model="formData.enable" name="enable" label="0">禁用</lay-radio>
                    </lay-form-item>

                    <lay-form-item>
                        <lay-button type="primary" @click="buttonSave">提交</lay-button>
                        <lay-button type="danger" @click="buttonDel">删除</lay-button>
                    </lay-form-item>
                </lay-form>
            </div>
        </div>
    </div>

    <script src="/static/admin/vue/3.2.34.js"></script>
    <script src="/static/admin/layui-vue/1.1.0.js"></script>
    <script>
        const special_id = parseInt("{{id}}");
        const {createApp, onMounted, ref, reactive, toRefs, defineComponent, getCurrentInstance, nextTick} = Vue;
        const {layer} = LayuiVue;
        const components = {};
        const url_special_item_list = "{{url('special_item_list')}}";
        const url_special_item_add = "{{url('special_item_add')}}";
        const url_special_item_save = "{{url('special_item_save')}}";
        const url_special_item_del = "{{url('special_item_del')}}";
        const url_special_item_sort = "{{url('special_item_sort')}}";
    </script>
    {{include './components/me-scroll.htm'}}
    {{include './components/me-article-select.htm'}}
    <script src="/static/admin/spedit.js"></script>
</body>
</html>