{{extend './layout.htm'}}

{{block 'css'}}
<style>
    #upload {
        position: relative;
    }
    #upload span {
        position: absolute;
        content: '';
        display: block;
        left: 0;
        top: 0;
        right: 100%;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.5);
    }
    .layui-table tr>*:nth-child(1) {
        text-align: center;
    }
    .layui-table tr>*:nth-child(2) {
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .layui-table tr>*:nth-child(7) {
        text-align: center;
    }
    .layui-table img {
        width: 42px;
        height: 42px;
    }
    .layui-table .btn-use {
        display: none;
    }
</style>
{{/block}}

{{block 'main'}}
<form class="layui-form table-tools">
    <div class="layui-input-inline input">
        <input type="text" name="keyword" value="{{keyword}}" autocomplete="off" class="layui-input" placeholder="请输入关键词">
    </div>
    <div class="sp5"></div>
    <div class="layui-input-inline">
        <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">搜索</button>
    </div>
    <div class="sp10"></div>
    <div class="layui-input-inline">
        <button type="button" class="layui-btn" id="upload">上传图片<span></span></button>
    </div>
</form>
<div class="table-wrap">
    <table class="layui-table">
        <thead>
            <tr><th>ID</th><th>图片</th><th>文件名字</th><th>类型</th><th>大小</th><th>时间</th><th>编辑</th></tr> 
        </thead>
        <tbody>
            {{each list item}}
            <tr>
                <td>{{item.id}}</td>
                <td><a href="{{item.image}}" target="blank"><img src="{{item.thumb}}"></a></td>
                <td>{{item.title}}</td>
                <td>{{item.extname}}</td>
                <td>{{item.size_text}}</td>
                <td>{{item.add_time | dateFormat 'YYYY-mm-dd HH:ii'}}</td>
                <td><button data-image="{{item.image}}" class="layui-btn layui-btn-sm btn-use">使用</button><a href="{{url('delete', {id: item.id})}}" class="layui-btn layui-btn-danger layui-btn-sm">删除</a></td>
            </tr>{{/each}}
        </tbody>
    </table>
</div>
{{@pagination}}
{{/block}}

{{block 'js'}}
<script>
    // iframe调用
    $(function(){
        if(window != parent) {
            $("header").hide();
            $(".layui-table tr>*:nth-child(3)").hide();
            $(".layui-table tr>*:nth-child(4)").hide();
            $(".layui-table tr>*:nth-child(5)").hide();
            $(".layui-table tr>*:nth-child(6)").hide();
            $(".layui-table .btn-use").click(function() {
                var image = $(this).data('image');
                if(typeof parent.insert_image == 'function') {
                    parent.insert_image(image);
                } else {
                    layer.msg('父窗口insert_image函数未定义！');
                }
            }).show();
            $('<style>.table-wrap{height:200px;overflow-y:overlay;}.table-wrap::-webkit-scrollbar{width:6px;}.table-wrap::-webkit-scrollbar-thumb {background-color:#ddd;cursor:pointer;}</style>').appendTo($('head'));
        } else {
            $(".layui-table tr>td:nth-child(5)")
        }
    });

    layui.use('upload', function() {
        var upload = layui.upload;
        //普通图片上传
        var uploadInst = upload.render({
            elem: '#upload',
            url: '{{url("upload")}}',
            accept: 'images',
            done: function(res) {
                $("#upload span").css('right', '100%');

                //如果上传失败
                if(!res.state) {
                    return layer.msg(res.msg);
                }
                
                //上传成功
                $('#preview').attr('src', res.data);
                layer.msg('上传成功！', {time: 600}, function() {
                    if(window != parent && typeof parent.insert_image == 'function') {
                        parent.insert_image(res.data);
                    } else {
                        history.go(0);
                    }
                });
            },
            error: function() {
                $("#upload span").css('right', '100%');
                layer.msg('上传出错了！');
            },
            before: function() {
                $("#upload span").css('right', '100%');
            },
            progress: function(n, elem) {
                //获取进度百分比
                var percent = n + '%';
                $("#upload span").css('right', percent);
            }
        });

        // 删除
        $('a.layui-btn-danger').each(function() {
            var url = $(this).attr('href');
            $(this).attr('href', 'javascript:;').click(function() {
                layer.confirm("确定删除吗？", function(index) {
                    layer.close(index);
                    $.get(url, function(re) {
                        if(re.state) {
                            layer.msg(re.msg, function() {
                                history.go(0);
                            });
                        } else {
                            layer.msg(re.msg);
                        }
                    });
                });
            });
        });

    });
</script>
{{/block}}